#banner {
  margin-top: 50px;
  padding: 0 80px;

  .intro {
    margin-top: 12%;

    p.description {
      width: 75%;
    }

    .download-links {
      margin-top: 30px;

      .download-link {
        i {
          font-size: 20px;
          margin-right: 10px;
        }
      }
    }
  }

  .products {
    margin-top: 6%;

    .product {
      &__ios {
        left: 20%;
        position: absolute;
        width: 34%;
      }

      &__android {
        margin-left: 50%;
        margin-top: 6%;
        width: 28%;
      }
    }
  }
}
