.already-visible {
  transform: translateY(0);
  animation: none;
}

.come-in {
  transform: translateY(250px);
  animation: come-in 1s ease forwards;
}
.come-in:nth-child(odd) {
  animation-duration: 0.8s;
}

.margin-0 {
  margin: 0;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.padding-0 {
  padding: 0;
}

.text-dark-green {
  color: $dark-green;
}

.text-grey {
  color: $dark-grey;
}

@keyframes come-in {
  to { transform: translateY(0); }
}
