$dark-green: #238463;
$dark-grey-two: #717171;
$dark-grey: #989898;
$green: #34c490;
$grey: #b6bbba;
$greyish-green: #72adb3;
$light-green-two: #f3fbf9;
$light-green-three: #cfe4df;
$light-green: #83c5be;
$light-grey: #efefef;
$yellow: #ffdc78;
